* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #f4f6f8;
}

header {
  padding: 30px;
}

.container {
  max-width: 900px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

#diaSemana {
  text-align: right;
  font-size: 18px;
  margin-bottom: 40px;
}

h1 {
  padding: 20px;
  text-align: center;
  font-style: italic;
}

.linha-cliente{
  display:flex;
  gap:10px;
  margin-bottom:15px;
}

#clienteNome{ flex:3; }
#clienteCpf{ flex:1; }

.numeroOrcamento {
  text-align:right;
  font-style: oblique;
  margin-bottom: 25px;
}

.orcamento-topo {
  font-size: 18px;
  margin-bottom: 50px;
}

.responsive-table {
  overflow-x: auto;
}

.total-row {
  font-weight: bold;
  background-color: #eee;
}

.tabelaOrcamento {
  width: 100%;
  border-collapse: collapse;
}

.tabelaOrcamento th,
.tabelaOrcamento td {
  border: 1px solid #000;
  padding: 6px;
}

.tabelaOrcamento th {
  background: #eaeaea;
  text-align: center;
}

.tabelaOrcamento input {
  width: 100%;
  border: none;
  outline: none;
  text-align: center;
}

.tabelaOrcamento input.desc {
  text-align: left;
  width: 300px;
}

.tabelaOrcamento input.qtd {
  text-align: center;
  width: 50px;
}

.tabelaOrcamento input.valor {
  text-align: right;
  width: 50px;
}

.totalItem,
#totalGeral {
  text-align: right;
}

#totalGeral {
  font-weight: bold;
  font-size: 18px;
}

.acao {
   border: none !important;
   width: 30px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.val {
  padding-top: 25px;
   line-height: 1.6;
}

.pagamento-linha{
  display:flex;
  align-items:center;
  gap:10px;
}

.pagamento-linha label {
  white-space: nowrap;
  font-weight: bold;
}

#pagamento{
  flex:1;
  height:28px;        
  line-height:28px;
  resize:none;        
  overflow:hidden;      
  white-space:nowrap;  
}

.observacoes {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.observacoes label {
  font-weight: bold;
  margin-bottom: 6px;
}

.vendedor {
    display: grid;
    justify-content: flex-end; 
    align-items: center;
    gap: 8px;
    margin-top: 30px;
    text-align: center;
}

.info strong {
  font-size: 28px;
}

.logo{
  width:150px;
  margin-bottom:5px;
}

.observacoes textarea{
  width:100%;
  height:50px;         
  line-height:25px;     
  resize:none;
  overflow:hidden;

  border:none;
  border-bottom:0.8px solid #000;

  background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 24px,
    #000 25px
  );
}

button {
    border: none;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
  background: #012b31;
  color: #fdfcfc;
}
.remover {
  border: none;
}

@media print {
  thead {
    display: table-header-group;
  }

  tfoot {
    display: table-footer-group;
  }

  @page {
    size: A4;
    margin: 8mm;
  }

  body {
    transform: scale(0.92);
    transform-origin: top left;
    font-size: 10pt;
    line-height: 1.2;
    background: white !important;
    padding: 0;
    margin: 0;
  }

  .container {
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
  }

  footer,
  .sidebar,
  .no-print {
    display: none !important;
  }

  button {
    display: none !important;
  } 

  .responsive-table {
    overflow: visible;
  }

  .tabelaOrcamento tr {
    page-break-inside: avoid;
    break-inside: avoid;
  }

  input{
    border:none !important;
    background:transparent !important;
    pointer-events:none;
  }

  textarea{
    pointer-events:none;
    resize:none;
  }

  .observacoes textarea{
    border:none !important;

  background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 24px,
    #000 25px
  ) !important;

  line-height:25px;
}

 .vendedor-area{
  margin-top:30px;
  text-align:right;
}

.vendedor-area select{
  margin-bottom:10px;
  padding:4px;
}

  thead {
    display: table-header-group;
  }

  tfoot {
    display: table-footer-group;
  }
}
@media (max-width: 600px){

  body{
    padding:8px;
  }

  .container{
    max-width:100%;
    width:100%;
    padding:12px;
  }
  
  .linha-cliente{
    flex-direction:column;
  }

  .tabelaOrcamento input.desc,
  .tabelaOrcamento input.qtd,
  .tabelaOrcamento input.valor{
    width:100% !important;
  }

  .tabelaOrcamento{
    width:100%;
    min-width:unset;
    font-size:14px;
  }

  
  .responsive-table{
    overflow-x:auto;
  }

  .pagamento-linha{
    flex-direction:column;
    align-items:flex-start;
  }

  #pagamento{
    width:100%;
    height:36px;
  }
  
  .vendedor-area{
    justify-content:center;
    text-align:center;
  }
  
  *{
    max-width:100%;
  }

}