* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #f4f6f8;
}


header {
    color: white;
    padding: 30px;
    text-align: left;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

#diaSemana {
    display: block;
    text-align: right;
    font-size: 18px;
    margin-bottom: 50px;
}

h1 {
    text-align: center;
    font-style: italic;
    margin-bottom: 50px;
}

.dadosCliente .campo {
    text-align: left;
    padding: 10px;
}

.campo input {
    font-size: 20px;
    font-style: italic;
    border: none;
}

.numeroOrcamento {
    text-align: right;
    padding: 20px;
    font-style: oblique;
    display: block;

}

.orcamento-topo {
    font-size: 18px;
    margin-bottom: 50px;
}

.responsive-table {
    overflow: hidden;
    overflow-x: auto;
}

.total-row {
    font-weight: bold; 
    background-color: #eee;
}

.tabelaOrcamento  {
    width: 100%;
    padding: 5px;
    border: none;
    outline: none;
}

.tabelaOrcamento th, td, input {
    border: 1px solid #000;
    font-size: 16px;
    padding: 8px;
    text-align: left;
}

.tabelaOrcamento th {
    background: #eaeaea;
    text-align: center;
}

.tabelaOrcamento input {
    font-size: 18px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
}

.tabelaOrcamento input.desc {
    text-align: left;
}

.tabelaOrcamento input.valor {
    text-align: right;
}

.totalItem,
#totalGeral {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
}

.vendedor {
    text-align: right;
    margin-right: 15px;
}

.vendedor h2 {
    font-size: 25px;
}

 button {
    margin-top: 10px;
    font-size: 15px;
    padding: 15px; 
    cursor: pointer; 
}