* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: #f1f3f5;
  color: #2b2b2b;
}

header {
  padding: 30px;
}

.container {
  max-width: 900px;
  margin: 30px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

#diaSemana {
  text-align: right;
  font-size: 18px;
  margin-bottom: 10px;
}

h1 {
  text-align: center;
  font-style: italic;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}

.linha-cliente {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.linha-cliente input {
  font-size: 16px;
  padding: 6px;
  border: none;
  border-bottom: 1px solid #ccc;
}

#clienteNome{ flex:3; }
#clienteCpf{ flex:2; }

.numeroOrcamento {
  text-align: right;
  font-style: oblique;
  margin-bottom: 5px;
}

.orcamento-topo {
  font-size: 18px;
  margin-bottom: 10px;
}

.responsive-table {
  overflow-x: auto;
}

.total-row {
  font-weight: bold;
  background-color: #eee;
}

.tabelaOrcamento {
  width: 100%;
  border-collapse: collapse;
}

.tabelaOrcamento th,
.tabelaOrcamento td {
  border: 1px solid #ddd;
  padding: 8px;
}

.tabelaOrcamento th {
  background: #f8f9fa;
  font-weight: 600;
}

.tabelaOrcamento tr:nth-child(even) {
  background: #fafafa;
}

.tabelaOrcamento input {
  width: 100%;
  border: none;
  outline: none;
  text-align: center;
}

.tabelaOrcamento input.desc {
  text-align: left;
  width: 300px;
}

.tabelaOrcamento input.qtd {
  text-align: center;
  width: 50px;
}

.tabelaOrcamento input.valor {
  text-align: right;
  width: 90px;
}

.totalItem,
#totalGeral {
  text-align: right;
}

#totalGeral {
  font-weight: bold;
  font-size: 18px;
}

.total-row {
  background: #e9ecef;
  font-size: 16px;
}

.acao {
   border: none !important;
   width: 30px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.val {
  padding-top: 25px;
   line-height: 1.6;
}

.pagamento-linha{
  display:flex;
  align-items:center;
  gap:10px;
}

.pagamento-linha label {
  white-space: nowrap;
  font-weight: bold;
}

#pagamento{
  flex:1;
  height:28px;        
  line-height:28px;
  resize:none;        
  overflow:hidden;      
  white-space:nowrap;  
}

.observacoes {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  padding-bottom: 15px;
}

.observacoes label {
  font-weight: bold;
  margin-bottom: 6px;
}

.info strong {
  font-size: 28px;
}

.logo{
  width:150px;
  margin-bottom:5px;
}

.observacoes textarea {
  border-bottom: 1px solid #999;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 22px,
    #ccc 23px
  );
}

button {
  background: #0d6efd;
  color: white;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 6px;
}

button:hover {
  background: #0b5ed7;
}

.remover {
  border: none;
}

@media print {

  @page {
    size: A4;
    margin: 10mm;
  }

  body {
    font-size: 10pt;
    line-height: 1.3;
    background: white !important;
    margin: 0;
    padding: 0;
  }

  .container {
    width: 100%;
    padding: 0;
    margin: 0;
    box-shadow: none;
    border-radius: 0;
  }
 
  button,
  #vendedorSelect {
    display: none !important;
  }

  header {
    border-bottom: 2px solid #000;
    margin-bottom: 10px;
    padding-bottom: 5px;
  }

  #diaSemana {
    margin-bottom: 5px;
  }

   .orcamento-topo {
    margin-bottom: 10px;
  }

    .val {
    padding-top: 10px;
  }

  h1 {
    font-size: 16pt;
    text-align: center;
    font-weight: bold;
    margin: 5px 0;
  }
 
  .linha-cliente input {
    border: none;
    border-bottom: 1px solid #000;
    font-size: 11pt;
  }
  
  .tabelaOrcamento {
    width: 100%;
    border-collapse: collapse;
    font-size: 9pt;
  }

  .tabelaOrcamento th {
    border-bottom: 2px solid #000;
    font-weight: bold;
    text-align: center;
    padding: 3px 4px;
  }

  .tabelaOrcamento td {
    border-bottom: 1px solid #000;
    line-height: 1.1;
  }

  .total-row td{
    border-top: 2px solid #000;
    font-weight: bold;
    font-size: 11pt;
  }
  
  .total-row td:first-child {
   text-align: right;
   font-weight: bold;
  }

  #totalGeral {
    font-weight: bold;
  }
  
  input, textarea {
    border: none !important;
    background: transparent !important;
    pointer-events: none;
  }

  .observacoes textarea {
    height: 50px;
    line-height: 25px;
    height: 40px;
    background-image: repeating-linear-gradient(
      to bottom,
      transparent,
      transparent 24px,
      #000 25px
    );
  }

   .observacoes {
    margin-top: 10px;
  }
 
  .vendedor-area {
    margin-top: 20px;
    text-align: right;
    font-size: 11pt;
    color: #000;
  }

  .logo {
    width: 120px;
    margin-bottom: 5px;
  }
}


@media (max-width: 600px){

  body{
    padding:6px;
  }

  .container{
    padding:10px;
  }
 
  .linha-cliente{
    flex-direction:column;
    gap:7px;
  }
 
  .responsive-table{
    overflow-x:auto;
  }

  .tabelaOrcamento{
    min-width:600px; 
    font-size:14px;
  }
 
  .pagamento-linha{
    flex-direction:column;
    align-items:flex-start;
  }

  #pagamento{
    width:100%;
  }
  
  .vendedor-area{
    text-align:center;
    align-items:center;
  }

  #vendedorSelect{
    width:100%;
    margin-top:8px;
  }
}
